body {
background: #121212;
color: #ffffff;
font: 1.2em "Liberation Sans", sans-serif;
}

.alignleft {
  float: left;
}
.alignright {
  float: right;
}

.svg {
width: 200px;
}

.word-wrap {
word-wrap: break-word;
}

#hidden {
  display: none;
  position: absolute;
  top: 99%;
  left: 50%;
  transform: translate(-50%, -50%);
}
:checked + #hidden {
  display: block;
}

